name: Changeset Check

on:
  pull_request:
    branches: [main]

jobs:
  changeset:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch full history
          ref: ${{ github.head_ref || github.ref }}

      - uses: pnpm/action-setup@v4
        with:
          version: 10.24.0

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: pnpm install --frozen-lockfile

      - name: Ensure changeset exists
        run: pnpm changeset status
